<mat-dialog-content>


  <div class="col-md-2">
    <img class="profile-img" src="{{country.flag}}" alt="200x250" width=100%>
    <div style="text-align: center;">
      <h4>BR : {{country.translations.br}}</h4>
      <h4>DE : {{country.translations.de}}</h4>
      <h4>ES : {{country.translations.es}}</h4>
      <h4>FR : {{country.translations.fr}}</h4>
      <h4>IT : {{country.translations.it}}</h4>
      <h4>JA : {{country.translations.ja}}</h4>
      <h4>PT : {{country.translations.pt}}</h4>
    </div>
  </div>


  <div class="col-md-10">

    <div id="resume">
      <div class="about">
        <h2  style="margin-left:18px;">{{country.name}} / <span style="font-style: italic;">{{country.nativeName}}</span> /
          <span *ngFor="let spell of altSpellings;let isLast=last">
            {{spell}}{{isLast ? '' : ' / '}}
          </span>
        </h2>
        <h3>Capital : {{country.capital}}</h3>
      </div>

      <div id="information" class="d-flex justify-content-between mt-4">

        <div class="col-md-5">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th class="table-title" colspan="2">Basics</th>
              </tr>
              <tr>
                <th>Language</th>
                <td>
                  <span *ngFor="let lang of languages; let isLast=last">
                    {{lang.name}}{{isLast ? '' : ' , '}}
                    </span>
                </td>
              </tr>
              <tr>
                <th>Currency</th>
                <td>
                  <div style="white-space: pre-line" *ngFor="let cur of currencies">{{cur.name}} /
                    {{cur.symbol}}
                    /
                    {{cur.code}}</div>
                </td>
              </tr>
              <tr>
                <th>Calling Code</th>
                <td>
                  <span *ngFor="let code of callingCodes;let isLast=last">
                      +{{code}} {{isLast ? '' : ' , '}}
                  </span>
                </td>
              </tr>
              <tr>
                <th>Top Level Domain</th>
                <td>{{country.topLevelDomain}}</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-hover">
            <tbody>
              <tr>
                <th class="table-title" colspan="2">People</th>
              </tr>
              <tr>
                <th>Demonym</th>
                <td>{{country.demonym}}</td>
              </tr>
              <tr>
                <th>Population</th>
                <td>{{country.population}} people</td>
              </tr>
              <tr>
                <th><a href="https://en.wikipedia.org/wiki/Gini_coefficient" target="_blank">Gini
                    Coefficient</a>
                </th>
                <td>{{country.gini}}</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-hover">
            <tbody>
              <tr>
                <th class="table-title" colspan="2">Other</th>
              </tr>
              <tr>
                <th>Alphabetic Codes</th>
                <td>{{country.alpha2Code}}, {{country.alpha3Code}}</td>
              </tr>
              <tr>
                <th>Numeric Code</th>
                <td>{{country.numericCode}}</td>
              </tr>
              <tr>
                <th>Cioc</th>
                <td>{{country.cioc}}</td>
              </tr>
            </tbody>
          </table>
        </div>


        <div class="col-md-7">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th class="table-title" colspan="2">Geography</th>
              </tr>
              <tr>
                <th>Region</th>
                <td>{{country.region}}</td>
              </tr>
              <tr>
                <th>Subregion</th>
                <td>{{country.subregion}}</td>
              </tr>
              <tr>
                <th>Regional Blocs</th>
                <td>
                  <div *ngIf="regionalBlocs.length==0">
                    <p>None</p>
                  </div>
                  <div style="white-space: pre-line" *ngFor="let bloc of regionalBlocs">{{bloc.name}} -
                    {{bloc.acronym}}</div>
                </td>
              </tr>
              <tr>
                <th>Borders</th>
                <td>
                  <div *ngIf="borderCountries.length==0">
                    <p>None</p>
                  </div>
                  <span *ngFor="let border of borderCountries;let isLast=last">{{border.name}}{{isLast ? '' : ' , '}}</span>                      
                </td>
              </tr>
              <tr>
                <th>GPS</th>
                <td>{{country.latlng}}</td>
              </tr>
              <tr>
                <th>Time Zones</th>
                <td>
                  <span *ngFor="let tz of tzArray;let isLast=last">
                  {{tz}}{{isLast ? '' : ','}}
                </span>

                </td>
              </tr>
              <tr>
                <th>Area</th>
                <td>{{country.area}} km²</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>
   
  </div>


</mat-dialog-content>