<div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
  <div class="form-wrap">
    <div class="tab">
      <div class="tab-content">
        <div class="tab-content-inner active" data-content="signup">
          <div class="flex">
          <div><h2>{{this.country.name}}</h2></div>
          <div><img class="little-flag" src="{{this.country.flag}}" alt="fag"/></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="flex">
                  <label>Region : </label>
                  <div>{{this.country.region}}</div>
                </div>
            </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="flex">
                    <label>Subregion : </label>
                    <div>{{this.country.subregion}}</div>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                  <div class="flex">
                    <label>Capitale : </label>
                    <div>{{this.country.capital}}</div>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="flex">
                <label>Population</label>
                <p>{{this.country.population}}</p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>