  #back {
    color: #0adec0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: none;
  }

  #forw {
    color: #0adec0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: none;
  }
  

  .arrow {
    margin: 5% 50% 10% 50%;
  }

  .arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #0adec0;
    border-right: 5px solid #0adec0;
    transform: rotate(45deg);
    margin: -10px;
    
  }
.carousel-span {
  font-size: 5em;
}
  @media screen and (max-width: 768px) {
   .carousel-span {
   font-size:1em;
   }
  }