  .container {
    margin-bottom:5em;
  }
  .container h1 {
    color:#09C6AB;
    text-align:center;
    font-size:3em;
    margin-top:1em;
  }
  .arrow {
    margin: 2% 50% 5% 50%;
  }

  .arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #0adec0;
    border-right: 5px solid #0adec0;
    transform: rotate(45deg);
    margin: -10px;
    
  }

  .sec {
    margin-top:5%;
  }

  .region {
    border-radius: 30px;
    cursor:pointer;
    max-width:100%;
    height:auto;
  }

  @media screen and (max-width: 768px) {
   .col-md-4 {
     margin-top:2%;
    
   }
   .row sec {
     margin-top:0%;
   }
  }