.rwd-table {
  background: rgba(221, 221, 221, 0.5);
  color: #fff;
  border-radius: .4em;
  border: 1px solid rgba(221, 221, 221, 0.5);
  text-align:center;
  display: block;

  
}
  .text {
    color:black;
  }
  
  th, td {
    /* margin: .5em 1em; */
    color:black;
    padding:.5em;
    
    
  }

  .td {
    text-align: left;
  }
 .highlight {
  color:#09C6AB;
  font-weight: bold;
 }
