
#curious {
  margin-top: 100px;
}
  #finder
{
    display:flex;
    justify-content: center;
}
#finder input{
  font-size:1em; color:white;
  border: 1px solid white;
  height:50px;
  font-weight: bold;
}
#finder button {
  font-size:1em;
  height:50px;
  padding-top:10px;
  margin-left: 20px;;  
  font-weight: bold;
}
#header {
  background-image: none;
}
#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  #myBtn {
    width: 170px;
    font-size: 1.1em;
    padding: 5px;
    margin-left:10px;
    border: none;
    background: #000;
    opacity:0.5;
    color: #fff;
    }
   
    
      .arrow{
          position: absolute;
          top: 130%;
          left: 50%;
          /* transform: translate(-50%,-50%); */
      }
      .arrow span{
          display: block;
          width: 30px;
          height: 30px;
          border-bottom: 5px solid #0adec0;
          border-right: 5px solid #0adec0;
          transform: rotate(45deg);
          margin: -10px;
          /* animation: animate 2s infinite; */
      }
      .arrow span:nth-child(2){
          animation-delay: -0.2s;
      }
      .arrow span:nth-child(3){
          animation-delay: -0.4s;
      }
      @keyframes animate {
          0%{
              opacity: 0;
              /* transform: rotate(45deg) translate(-20px,-20px); */
          }
          50%{
              opacity: 1;
          }
          100%{
              opacity: 0;
              /* transform: rotate(45deg) translate(20px,20px); */
          }
      }
    
      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 0.5; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
        opacity: 0.5;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: white;
        opacity: 0.5;
      }

      @media screen and (max-width: 768px) {
  
        #finder {
          margin-top:0px;
          display:flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          
        }
        #finder button {
          max-width:120px;
          padding-left:5px;
          padding-right:5px;
      
        }
        #curious {
          margin-top:70px;
        }
      
        header video {
          visibility: hidden;
        }
      
        #myBtn {
          visibility: hidden;
        }
      }
      