<div id="page">
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo"><a href="">Countries Explorer <em>.</em></a></div>
				</div>
			</div>
		</div>
	</nav>
	<header id="gtco-header" class="gtco-cover-search" style="background-image: url(assets/images/travel2.jpg); ">
		<video autoplay muted loop id="myVideo" muted="muted">
			<source src="assets/images/sea.mp4" type="video/mp4">
		</video>
		<div class="overlay" style="background: rgba(0, 0, 0, 0.2)"></div>
		<div style="display:flex;flex-direction:column;justify-content:space-around" class="gtco-container">
			<div class="row" id="curious">
				<div class="col-md-12 col-md-offset-0 text-center">
					<div class="row row-mt-5em">
						<div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
							<h1>Curious about the world ? </h1>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<form #searchForm="ngForm" id="finder">
					<div class="form-group">
						<input name="search" class="form-control" [(ngModel)]="nameInput"
							placeholder="France, Colombia, Egypt...">
					</div>

					<button type="submit" (click)="getCountryByName();scrollToCountries();searchForm.reset()"
						class="btn btn-primary">Pick a
						country
						!</button>

				</form>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box"
					data-animate-effect="fadeInUp">
					<h1>Learn about it !</h1>
					<div class="arrow">
						<span></span>
						<span></span>
					</div>
				</div>
			</div>

		</div>
		<div class="gtco-container" style="position:absolute;
		bottom:15px;font-size:0.7em; ">
			<button id="myBtn" (click)="videoOnOff()" style="border-radius: 4px;"></button></div>
	</header>

	<div class="gtco-section" style="padding:1em;">
		<div class="gtco-container">
			<div class="row" id="regions">
				<app-region-preview></app-region-preview>
			</div>
			<div *ngIf="error != null">
				<app-error-country message='{{error}}'></app-error-country>
			</div>
			<div class="row">
				<div style="margin-bottom:5em;" class="container">
					<h1 style="color:#09C6AB;text-align:center;font-size:3em;margin-bottom:1em">Or learn about a country !</h1>
					<div class="arrow2">
						<span></span>
						<span></span>
					</div>
				</div>
			</div>


			<div id="countries" class="row" [ngStyle]="getCountriesStyle()">

				<div *ngFor="let country of resultList" class="col-lg-3 col-md-3 col-sm-6">
					<app-country-card [country]='country'></app-country-card>
				</div>
			</div>
		</div>
	</div>


	<footer id="gtco-footer" role="contentinfo">
		<div class="gtco-container">
			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block">Countries Explorer &copy; {{year}} by <a href="http://irinadev.io/"
								target="_blank">Irina</a>. All Rights Reserved.</small>
						<small class="block">Built with help form <a href="https://freehtml5.co/"
								target="_blank">FreeHTML5.co</a> and <a href="https://codepen.io/"
								target="_blank">Codepen</a>
							Pictures gratefully taken from <a href="http://unsplash.com/"
								target="_blank">Unsplash.</a></small>
					</p>

					<ul class="gtco-social-icons pull-right">
						<li><a href="https://github.com/irinael" target="_blank"><i class="icon-github"></i></a></li>
						<li><a href="https://www.linkedin.com/in/irina-el/" target="_blank"><i
									class="icon-linkedin"></i></a></li>
						<li><a href="http://irinadev.io/" target="_blank"><i class="icon-code"></i></a></li>
					</ul>

				</div>
			</div>
		</div>
	</footer>
</div>